<div
  class="container-fluid bg-dark text-center text-white display-4 mt-5 py-3"
  id="Projects"
>
  Projects
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <!-- Website: Belle Vue -->
  <div
    class="bg-dark me-md-3 py-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
  >
    <a class="text-center text-white" href="https://jasonbellevue.netlify.app">
      <div class="my-3 py-3">
        <h2 class="display-5">
          Belle Vue Venue
          <i class="fas fa-external-link-alt"></i>
        </h2>
        <p class="lead">Website built for a wedding venue</p>
      </div>
      <img
        src="../resources/images/bellevuehomescreen.png"
        alt="Belle Vue website screenshot"
        class="website"
      />
    </a>
  </div>
  <!-- Website: Odem Missions -->
  <div
    class="bg-light me-md-3 py-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
  >
    <a class="text-dark" href="https://odemmissions.com/">
      <div class="my-3 p-3">
        <h2 class="display-5">
          ODEM Missions
          <i class="fas fa-external-link-alt"></i>
        </h2>
        <p class="lead">Website built for a non-profit organization</p>
      </div>
      <img
        src="../resources/images/odemhomescreen.png"
        alt="ODEM website screenshot"
        class="website"
      />
    </a>
  </div>
  <!-- Website: Scott-Landing-Site -->
  <div
    class="bg-light me-md-3 py-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
  >
    <a class="text-dark" href="https://scott-landing-site.netlify.app/">
      <div class="my-3 p-3">
        <h2 class="display-5">
          OG
          <span class="text-nowrap"
            >scottmorales <i class="fas fa-external-link-alt"></i
          ></span>
        </h2>
        <p class="lead">My first personal website scottmorales.dev</p>
      </div>
      <img
        src="../resources/images/scottmoralesdev.png"
        alt="scottmorales.dev website screenshot"
        class="website"
      />
    </a>
  </div>
</div>
